/Cache/
/Errors/
/Logs/
/Screenshots/
/Utils/
.flavor.info
.curseclient
BlizzardError.exe
World of Warcraft Launcher.exe
WoW.mfil
WowClassic.exe
GFSDK_Aftermath_Lib.x64.dll
DBGHELP.DLL
WTF/Config.wtf
World of Warcraft Classic.app/